<div [ngStyle]="style" [class]="styleClass"
  [ngClass]="{'app-slider': true, 'app-slider-horizontal':orientation === 'horizontal', 'app-slider-vertical':orientation === 'vertical'}"
  (click)="onSliderClick($event)">
  <span class="app-slider-range" [ngStyle]="{'width.%': value}"></span>
  <span class="app-slider-handle" [ngStyle]="{'left.%': value}"
    on-mousedown="handleMouseDown($event)"></span>
</div>
<!-- <div [ngStyle]="style" [class]="styleClass"
  [ngClass]="{'app-slider app-widget app-widget-content app-corner-all':true,'app-state-disabled':disabled,'app-slider-horizontal':orientation == 'horizontal','app-slider-vertical':orientation == 'vertical','app-slider-animate':animate}"
  (click)="onBarClick($event)"> -->
  <!-- <span *ngIf="range && orientation == 'horizontal'" class="app-slider-range app-widget-header app-corner-all"
     [ngStyle]="{'left':handleValues[0] + '%',width: (handleValues[1] - handleValues[0] + '%')}">
  </span>-->

  <!-- <span *ngIf="range"
    (mousedown)="onMouseDown($event,0)"
    (touchstart)="onTouchStart($event,0)"
    (touchmove)="onTouchMove($event,0)" (touchend)="onTouchEnd($event)"
    [style.transition]="dragging ? 'none': null" class="app-slider-handle app-state-default app-corner-all app-clickable"
    [ngStyle]="{'left': rangeStartLeft, 'bottom': rangeStartBottom}" [ngClass]="{'app-slider-handle-active':handleIndex==0}">
  </span>
  <span *ngIf="range"
    (mousedown)="onMouseDown($event,1)"
    (touchstart)="onTouchStart($event,1)"
    (touchmove)="onTouchMove($event,1)"
    (touchend)="onTouchEnd($event)"
    [style.transition]="dragging ? 'none': null" class="app-slider-handle app-state-default app-corner-all app-clickable"
    [ngStyle]="{'left': rangeEndLeft, 'bottom': rangeEndBottom}"
    [ngClass]="{'app-slider-handle-active':handleIndex==1}">
  </span>-->
<!-- </div> -->
